<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show Topics</title>
</head>
<body>
<a href='/forum'>All Posts</a> 
<a href='/forum/comments'>All Comments</a>

  <form method="POST" action="/forum/comments/{{id}}?_method=PUT">
  
    FORUM POST:
      <input type="text" name="content" value="{{body}}" rows="28" cols="58">

      <textarea name="content" rows="28" cols="58">
      "{{body}}".
      </textarea>
    <button type="submit">Update</button>
  </form>

  <form method="POST" action="/forum/comments{{id}}?_method=DELETE">
    <button type="submit">Delete</button>
  </form>
</body>
</html> 

<ul>
