<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FORUM POSTS</title>
</head>
<body> 
<h1>THIS IS ALL THE POSTS WE CURRENTLY HAVE....FORUM WIKIIIIIIILAAABOOm </h1>
  <a href='/'>Create a new post</a>

  <ul>
  <a href='/forum/comments'>View all comments</a>
    {{#posts}}
      <li><a href="/forum/{{id}}">{{title}} - {{author}}</a></li>
    {{/posts}}
  </ul>  
  
  <ul>
    
   {{#CommentPosts}}
     <li>
       <a href="/forum/comments/{{id}}">{{topics_id}} - {{location}}</a>
     </li>
   {{/CommentPosts}}
   </ul>
</body>
</html>